@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
:root {
  --Color: #f7f7f7;
  --Bg: #030e16;
}
.en-fr-gm {
  font-family: "Josefin Sans", sans-serif;
  direction: ltr;
}
.ar {
  font-family: "Vazirmatn", sans-serif !important;
  direction: rtl;
}
body {
  background-color: var(--Bg);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
/* start changeLanguage */
.changeLanguage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: 0.4s;
}
.changeLanguage.hide {
  transform: scale(0);
}
.changeLanguage div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}
.changeLanguage div select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.changeLanguage div input {
  width: 100%;
  padding: 10px;
}
.changeLanguage div #BtnSend {
  opacity: 0;
  transition: 0.4s;
  transform: scale(0);
}
.changeLanguage div #BtnSend.active {
  opacity: 1;
  transform: scale(1);
}
/* end changeLanguage */
/* Sart section.desktop  */
section.desktop {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
section.desktop.active {
  opacity: 1;
}
section.desktop select {
  padding: 10px 20px;
  width: 200px;
  background-color: var(--Bg);
  color: var(--Color);
  border-radius: 5px;
}
section.desktop .Text {
  width: 700px;
  height: calc(100vh - 200px);
  border-radius: 5px;
  border: 2px solid var(--Color);
  margin-top: 10px;
  border-radius: 5px;
  color: var(--Color);
  padding: 10px;
  font-size: 23px;
  overflow: auto;
  transition: 0.4s;
}
section.desktop .Text.active {
  transform: scale(0);
  height: 0;
}
section.desktop #acceptJesus {
  width: 700px;
  height: fit-content;
  border-radius: 5px;
  border: 2px solid var(--Color);
  margin-top: 10px;
  border-radius: 5px;
  color: var(--Color);
  padding: 10px;
  font-size: 23px;
  overflow: auto;
  transform: scale(0);
  transition: 0.4s;
}
section.desktop #acceptJesus.active {
  transform: scale(1);
}
section.desktop button {
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 22px;
  color: #f7f7f7;
}
/* end section.desktop  */

/* Sart section.mobile  */
section.mobile {
  display: none;
}
/* end section.mobile  */

/* Medias */
@media (max-width: 700px) {
  section.desktop .Text,
  section.desktop #acceptJesus {
    width: 90%;
  }
}
